# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.suo
*.pdb
*.cache
*.Cache


# Directories #
###############
bin/
obj/
.vs/Lab 3 - Invaders/FileContentIndex/e4c08fd3-89b7-4193-9eca-7a4af0880ac4.vsidx
.vs/Lab 3 - Invaders/FileContentIndex/e4c08fd3-89b7-4193-9eca-7a4af0880ac4.vsidx
*.vsidx
.vs/Lab 3 - Invaders/FileContentIndex/08a4cb55-70ab-4d1e-8e2d-49f687e08a7c.vsidx
.vs/Lab 3 - Invaders/FileContentIndex/2db0b260-f016-4036-9348-2cc6a47107df.vsidx
.vs/Lab 3 - Invaders/FileContentIndex/317a0348-4666-43fc-a92a-d21012b0c67d.vsidx
.vs/Lab 3 - Invaders/FileContentIndex/482d6db7-b491-42f5-9dac-7a9e7826b7c3.vsidx
.vs/Lab 3 - Invaders/FileContentIndex/4ef407e5-f26e-4e0d-9fb2-cf00038ed1b8.vsidx
.vs/Lab 3 - Invaders/FileContentIndex/98cbc029-1f9d-4669-966e-6a482cc841e5.vsidx
.vs/Lab 3 - Invaders/FileContentIndex/b801eb16-d10c-4999-a9ad-01e693a7c10d.vsidx
.vs/Lab 3 - Invaders/FileContentIndex/ddf3cff3-0923-4c44-8dd4-0d0546ff167f.vsidx
*.vsidx
*.vsidx
.vs/Lab 3 - Invaders/FileContentIndex/08a4cb55-70ab-4d1e-8e2d-49f687e08a7c.vsidx
*.vsidx
